.seat-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    padding: 20px;
    border: 5px solid #c2e20e;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.seat {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 1px solid #ccc;
}

.seat.free {
    background-color: #2ecc71; /* Verde */
}

.seat.occupied {
    background-color: #7f8c8d; /* Gris */
    cursor: not-allowed;
}

.seat.selected {
    background-color: #e74c3c; /* Rojo */
    border: 2px solid #c0392b;
}
